.app {
  display: flex;
  gap: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-xs);

  position: relative;
  padding-right: var(--gutter-xs);
}

.nav::after {
  width: 1px;
  height: 100%;
  content: '';
  background-color: gray;
  position: absolute;
  top: 0;
  left: 100%;
}

.nav > * {
  display: flex;
  align-items: center;
}

.nav > *::after {
  content: '👈';
  visibility: hidden;
}

[aria-current='page'] {
  color: coral;
  text-decoration: none;
}

[aria-current='page']::after {
  visibility: visible !important;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease;
}
